[user]
  email = jrusev@gmail.com
  name = jrusev

[core]
  editor = atom --wait

[push]
  default = simple

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log --color --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' -10
